{{extend 'layout.html'}}
<style type="text/css">
    body{
    background-image: url("{{=URL('static','images/red5.jpg')}}");
    font-family: 'Ubuntu', arial, sans-serif;
    background-size: 100% auto;
    }

    .hola{
    	position: relative;
    	top: -50px;
    	background-color: white;
    	border-radius: 22px 22px 22px 22px;
		-moz-border-radius: 22px 22px 22px 22px;
		-webkit-border-radius: 22px 22px 22px 22px;
		border: 3px solid #c4c4c4;
		-webkit-box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
    }
    .cuadro{
    	position: relative;
    	top: -10px;
    }
</style>

<div class="container-fluid hola">
  <div class="row-fluid">

    <div class="span6 "><br>
    <h1>Información Personal<br> <small>Click en Siguiente para continuar</small></h1>
    	
		
      

    </div>
    <div class="span6">
      <!--Body content--><br><br>
      <ul class="nav nav-pills">
		  <li class="active">
		    <a >Paso 1</a>
		  </li>
		  <li><a>Paso 2</a></li>
		  <li><a>Paso 3</a></li>
		</ul>
    </div>

  </div><br><br>
    
    <div class="row-fluid">

    <div class="span6">
      {{=form}}<br>
    </div>
    <div class="span6">
      <!--Body content-->
      <li class="span10 cuadro">
                <div class="thumbnail">
                {{if anuncios:}}
                  <br>
                  <img src="{{=URL('download',args=anuncios.imagen)}}" alt="">
                  <div class="caption">
                  	
                    <h3 align="center">{{=anuncios.titulo_anuncio}}</h3>
                    <p>{{=anuncios.anuncio}}</p>
                  </div>
                {{else:}}
                  <br>
                  <img data-src="holder.js/300x200" alt="300x200" src="" style="width: 300px; height: 200px;">
                  <div class="caption">
                    <h3 align="center">Anuncio/Publicidad 1</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                  {{pass}}

                </div>
              </li>
    </div>

   </div>
</div>

<script type="text/javascript">
  $(document).keypress(
    function(event){
     if (event.which == '13') {
        event.preventDefault();
      }


});
</script>

<script>
$('form').submit(function(e){
    if(!confirm("Verifica tu Información"))
    {
      
      e.preventDefault();
      return;
    } 


});

</script>