{{extend 'layout.html'}}
<style type="text/css">
    body{
    background-image: url("{{=URL('static','images/red5.jpg')}}");
    font-family: 'Ubuntu', arial, sans-serif;
    background-size: 100% auto;
    }

    .hola{
      position: relative;
      top: -50px;
      background-color: white;
      border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 3px solid #c4c4c4;
    -webkit-box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 75px -4px rgba(0,0,0,0.75);
    }
    .cuadro{
      position: relative;
      top: -10px;
    }
</style>

<div class="container-fluid hola">
  <div class="row-fluid">

    <div class="span12 "><br>
    <h1>Reportes Express<br><small>Selecciona el reporte deseado</small></h1>
      
    
      

    

  </div><br><br>
    
    <div class="row-fluid">

    <div class="span12">
    {{=A(SPAN(_class="icon-list"),T("Egresados sin Título"), _href=URL('default','reportes_exp',vars={"sintitulo":"sintitulo"},user_signature=True), _class='btn btn-large btn-block btn-primary', _style='margin-top: 1em')}}

    {{=A(SPAN(_class="icon-list"),T("Egresados con Posgrado"), _href=URL('default','reportes_exp',vars={'posgrado':'posgrado'},user_signature=True), _class='btn btn-large btn-block btn-primary', _style='margin-top: 1em')}}
    
    {{=A(SPAN(_class="icon-list"),T("Egresados Desempleados"), _href=URL('default','reportes_exp',vars={"desempleados":"desempleados"},user_signature=True), _class='btn btn-large btn-block btn-primary', _style='margin-top: 1em')}}

    {{=A(SPAN(_class="icon-list"),T("Egresados trabajando fuera de su Área de Estudio"), _href=URL('default','reportes_exp',vars={'noarea':'noarea'},user_signature=True), _class='btn btn-large btn-block btn-primary', _style='margin-top: 1em')}}

    </div>
    

   </div>
   <br>
</div>

