<html>
    <body>
        <u><h2>Estimado {{=first_name}}, egresado de Ingeniería UVM Hermosillo:</h2></u>
       
        <br>Queremos saber más de lo que estás haciendo. Ayudanos brindando una breve información, dando click en el siguiente link:
        <br>Usando tu matrícula ({{=matricula}}) como Nombre de Usuario y Contraseña.
        <br>
        <br><a href="http://localhost/egresados/default/index" target="_blank">www.egresadosuvm.edu</a> 
       <br><br>
 
       Muchas gracias por tu cooperación.
       <br>
       Éxito,<b><i></i></b>
       <br>
       
       
       <br><br><b>ATTE</b><br>
       <u>Dr. Armando Ayala Corona</u><br><br>
       
   </body>
</html>